body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 250, 215); /* Fallback color */
    background: linear-gradient(
        /* Direction set to top-left to bottom-right */
        to bottom right, 
        rgba(250, 250, 215, 1) 0%, 
        rgba(250, 208, 196, 1) 20%, 
        rgba(245, 218, 247, 1) 60%, 
        rgba(196, 245, 241, 1) 100%
    );
    background-attachment: fixed;
    background-size: cover;

    
    color: #333;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    /* display: flex;
    justify-content: center; 
    align-items: center;  */
    min-height: 100vh; 
}


@font-face {
    font-family: 'WindSong';
    src: url('fonts/WindSong-Regular.woff2')format('woff2');
}
@font-face {
    font-family: 'Nevera';
    src: url('fonts/Nevera-Regular.woff')format('woff');
}


#top-name {
    font-family: 'nevera';
    font-size: 5rem;
    font-weight: 600;

    text-align: center;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
#top-line {
    font-family: 'windsong';
    font-size: 2rem;
    font-weight: 500;

    text-align: center;

    margin-top: 0.2rem;
}
