body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 250, 215); /* Fallback color */
    background: linear-gradient(
        /* Direction set to top-left to bottom-right */
        to bottom right, 
        rgba(250, 250, 215, 1) 0%, 
        rgba(250, 208, 196, 1) 20%, 
        rgba(245, 218, 247, 1) 60%, 
        rgba(196, 245, 241, 1) 100%
    );
    background-attachment: fixed;
    background-size: cover;

    
    color: #333;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    /* display: flex;
    justify-content: center; 
    align-items: center;  */
    min-height: 100vh; 
}

@font-face {
    font-family: 'Zaslia';
    src: url('fonts/Zaslia.woff')format('woff');
}
@font-face {
    font-family: 'Wongkers';
    src: url('fonts/Wongkers.woff2')format('woff2');
}
@font-face {
    font-family: 'Nevera';
    src: url('fonts/Nevera-Regular.woff')format('woff');
}
@font-face {
    font-family: 'Klaxon';
    src: url('fonts/Klaxon-Crunchy.woff')format('woff');
}
@font-face {
    font-family: 'Klaxon';
    src: url('fonts/Klaxon-Smooth.woff')format('woff');
}
@font-face {
    font-family: 'firlest';
    src: url('fonts/firlest-regular.woff2')format('woff2');
}

h1 {
    font-family: 'klaxon';
    font-size: 5rem;
    font-weight: 700;

    text-align: center;
}