<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sky Hue</title>
</head>
<body>
    <h1>SKY HUE</h1>
    <form class="search-form" action="/" method="POST">
        <label for="city_name">Enter City:</label>
        <input type="text" id="city_name" name="city" placeholder="e.g. Paris" required>
        <button type="submit" id="submit-btn">Get Weather</button>
    </form>

    {% if city %}
    <p>Current weather in {{city}}</p>
    <p>Temperature: 
        {{temperature}} °C</p>
    <p>Condition:
        {{sky}}</p>
    <p>Pressure:
        {{pressure}} hPa</p>
    <p>Humidity:
        {{humidity}} %</p>
    <p>Wind Speed:
        {{wind_speed}} m/s</p>
    {% endif %}


</body>
</html>
