<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sky Hue</title>
</head>
<body>
    <p id="top-name">SKY HUE</p>
    <p id="top-line">“The sky remains ever-beautiful, though the weather turns at times.”</p>


    <form class="searchBox" action="/" method="POST">
        <input type="text" id="city-name" name="city" class="searchInput" placeholder="e.g. Paris" required>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
        <button type="submit" class="searchButton">Search</button>
    </form>

    {% if city %}
    <p>Current weather in {{city}}</p>
    <p>Temperature: 
        {{temperature}} °C</p>
    <p>Condition:
        {{sky}}</p>
    <p>Pressure:
        {{pressure}} hPa</p>
    <p>Humidity:
        {{humidity}} %</p>
    <p>Wind Speed:
        {{wind_speed}} m/s</p>
    {% endif %}


</body>
</html>
